[submodule "lib/src/main/cpp/third_party/libtiff"]
	path = lib/native/src/main/cpp/third_party/libtiff
	url = https://gitlab.com/libtiff/libtiff.git
[submodule "lib/src/main/cpp/third_party/libjpeg"]
	path = lib/native/src/main/cpp/third_party/libjpeg
	url = https://github.com/libjpeg-turbo/ijg.git
[submodule "lib/src/main/cpp/third_party/libwebp"]
	path = lib/native/src/main/cpp/third_party/libwebp
	url = https://github.com/webmproject/libwebp.git
